.array-container {
    text-align: center;
    position: absolute;
    left: 5%;
    right: 5%;
}

.array-bar {
    display: inline-block;
    background-color: blue;
    width: 0.5%;
    margin: 0 0.08%;
}

button {
    display: inline-block;
    margin: 4px 4px;
}
