.array-container {
    text-align: center;
    position: absolute;
    left: 100px;
    right: 100px;
}

.array-bar {
    display: inline-block;
    background-color: blue;
    width: 6px;
    margin: 0 1px;
}

button {
    display: inline-block;
    margin: 4px 4px;
}